select, option {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 20px;
  padding: 10px 25px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  text-transform: capitalize;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px 0;
}