.books {
  list-style-type: none;
  margin: 0;
  padding: 70px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 30px 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px 0;
  gap: 20px;
}

select, option {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 20px;
  padding: 10px 25px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  text-transform: capitalize;
}

